<template>
  <section class="section">
    <h2 class="title is-3 has-text-grey">
      Post List
    </h2>
    <div v-if="getPostsPending">
      Loading...
    </div>
    <div v-else-if="getPostsData">
      <ul>
        <li v-for="post in getPostsData" :key="post.id">
          <nuxt-link :to="'/posts/' + post.id">{{post.title}}</nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>
<script>

import { mapState } from 'vuex'

export default {
  // called every time before loading the component (for page components)
  fetch({store}) {
    store.dispatch('getPostsAsync')
  },
  computed: {
    ...mapState(['getPostsPending', 'getPostsData'])
  }
}
</script>
