<template>
  <section class="section">
    <h3>
      <small><nuxt-link to="/posts/">Back to List</nuxt-link></small>
    </h3>
    <h2 class="title is-3 has-text-grey">
      Post
    </h2>
    <div v-if="getPostPending">
      Loading...
    </div>
    <div v-else-if="getPostData">
      <h3 class="subtitle">{{getPostData.title}}</h3>
      <p>{{getPostData.body}}</p>
    </div>
  </section>
</template>
<script>

import { mapState } from 'vuex'

export default {
  // called every time before loading the component (for page components)
  fetch({store, params}) {
    store.dispatch('getPostAsync', params.id)
  },
  computed: {
    ...mapState(['getPostPending', 'getPostData'])
  }
}
</script>
<style scoped>
</style>
